#ViewMarks {
    display: flex;
    /* width: 100vw; */
    /* flex-direction: row; */
}

.classMarks{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.classHeading {
    text-align: center;
    width: 100%;
    background-color: rgba(247, 192, 124, 0.885);
    box-shadow: 5px 1px 5px black;
}

.markList {
    height: 100%;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    justify-content: center;
    align-items: center;
}


th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: larger;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

td {
    text-align: center;
    border-right: 1px solid black;
    padding: 10px;
}

input{
    width: 85px;
}

@media print {}