.ann-card-container{
    width: calc(33.33%);
    margin-bottom: 40px;
}

.ann-card{
    min-width: 300px;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}



.show{
    display: block;
}