.create-ann-box{
    margin: 20px;
    padding: 20px;
    border-radius: 39px;
    background: #d7c6c6;
    box-shadow: -29px 29px 57px #998d8d,
                29px -29px 57px #ffffff;
}

.top-row-create-ann{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-info{
    justify-content: space-evenly;
}

.user-type{
    text-transform: uppercase;
    font-weight: bold;
}

.today-date{
    font-style: italic;
    font-weight: bold;
}

.ann-title, .ann-content {
    /* border: none; */
    outline: none;
    padding: 5px 5px;
    margin: 3px;
    background-color: transparent;
    width: 60%;
}

.ann-content{
    height: max-content;
}

#img-landscape{
    width: 20px;
}

.ann-file{
    border: 1px solid black;
    font-size: small;
    padding: 2px;
}

.ann-file:hover{
    cursor: pointer;
}