.ann-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.selectRole {
  margin: 10px;
}

.dropdown-menu {
  width: max-content;
}

.filter-admin-btn {
  margin-left: 30px;
}

.filter-menu-admin {
  margin-left: 50px;
  display: none;
}

.show {
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.search-filter {
  margin-left: 30px;
}
.teacher-announcement-heading {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
}
